[submodule "components/vrEmu6502"]
	path = components/vrEmu6502
	url = git@github.com:rampa069/vrEmu6502.git
[submodule "components/fabgl"]
	path = components/fabgl
	url = git@github.com:rampa069/FabGL.git
